<h1 class="text-white">Trajets Conducteur</h1>
<p-button pRipple severity="danger" label="Supprimer" icon="pi pi-trash" (click)="deleteSelectedTrips()" [disabled]="!selectedTrips || !selectedTrips.length" id="tripproposed-button-deletetrip"></p-button>

<p-table [value]="trips" [(selection)]="selectedTrips" [tableStyle]="{'min-width': '60rem'}" [loading]="loading" dataKey="id" [rowHover]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [filterDelay]="0">
    <ng-template pTemplate="header">
        <tr>
            <th scope="col" style="width: 4rem">
                <p-tableHeaderCheckbox />
            </th>
            <th scope="col" pSortableColumn="status">
                Status
                <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th scope="col" pSortableColumn="proposedDate">
                Date
                <p-sortIcon field="proposedDate"></p-sortIcon>
            </th>
            <th scope="col" pSortableColumn="departure.name">
                Départ
                <p-sortIcon field="departure.name"></p-sortIcon>
            </th>
            <th scope="col" pSortableColumn="arrival.name">
                Arrivée
                <p-sortIcon field="arrival.name"></p-sortIcon>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-trip>
        <tr [pSelectableRow]="trip" (click)="goToTripDetails(trip.id)" id="tripproposed-tr-tripdetails">
            <td>
                <p-tableCheckbox [value]="trip" (click)="$event.stopPropagation()" />
            </td>
            <td>
                <p-tag [value]="getStatus(trip.status)" [severity]="getSeverity(trip.status)"></p-tag>
            </td>
            <td>{{ trip.proposedDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ trip.departure.name }}</td>
            <td>{{ trip.arrival.name }}</td>
        </tr>
    </ng-template>
</p-table>

<p-confirmDialog></p-confirmDialog>
