<form [formGroup]="connexionForm" (ngSubmit)="onSubmit()" class="flex justify-content-center flex-wrap">
    <p-card id="card" class="flex justify-content-center flex-wrap">
        <div class="w-full flex justify-content-center">
            <h2>Connexion</h2>
        </div>

        <p-message *ngIf="message.severity" [severity]="message.severity" [text]="message.summary"
            [style]="{'width':'100%'}"></p-message>

        <!-- Login -->
        <div id="div_login" class="mb-4 flex flex-column justify-content-center">
            <label for="login-input-login" class="block text-sm font-semibold mb-2">Nom d'Utilisateur ou Adresse Email</label>
            <input type="text" pInputText formControlName="login" [maxlength]="50" id="login-input-login"/>
        </div>

        <!-- Password -->
        <div id="div_password" class="mb-4 flex flex-column justify-content-center">
            <label for="login-password-password" class="block text-sm font-semibold mb-2">Mot de Passe</label>
            <p-password formControlName="password" inputId="login-password-password" required [toggleMask]="true"
                [feedback]="false" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                [maxlength]="50"></p-password>
        </div>

        <!-- Stay Connected -->
        <div class="mb-4 flex flex-column justify-content-center">
            <p-checkbox label="Rester connecté" formControlName="keepLoggedIn" [binary]="true" inputId="login-checkbox-keeploggedin"></p-checkbox>
        </div>
        <div class="flex justify-content-center flex-wrap">
            <p-button type="submit" label="Se connecter" [disabled]="!connexionForm.valid" id="login-button-login"></p-button>
        </div>
        <div class="flex-container">
            <a href="/change-password" id="login-a-changepassword">Mot de passe oublié</a>
        </div>
        <div class="register">
            <p>Vous n'avez pas de compte ? <a href="/registration" id="login-input-register">Créer un compte</a></p>
        </div>
    </p-card>
</form>